@@include('templates/common/include/header.html')

<div class="main">
  <div class="main__logo">
    <a href="./">
      <img src="images/logo.png" alt="WHYNOT">
    </a>
  </div>
  <div class="main__container">
    <div class="main__title">
      Тендерное задание
    </div>
    <div class="main__banners">
      <div class="main__banner">
        <a href="./html/common/banners/simple-banner/">
          <div class="img-wrapper">
            <img src="images/banners/simple.jpg" alt="">
          </div>
          <div class="main__project-title">
            Баннеры. Простая анимация.
          </div>
        </a>
      </div>
      <div class="main__banner">
        <a href="./html/common/banners/hard-banner/">
          <div class="img-wrapper">
            <img src="images/banners/hard.jpg" alt="">
          </div>
          <div class="main__project-title">
            Баннеры. Сложная анимация.
          </div>
        </a>
      </div>
      <div class="main__banner">
        <a href="./html/common/banners/gif-banner/">
          <div class="img-wrapper">
            <img src="images/banners/fromvideo.jpg" alt="">
          </div>
          <div class="main__project-title">
            Баннеры. GIF из видео.
          </div>
        </a>
      </div>
    </div>
    <div class="main__kvs">
      <div class="main__kv">
          <a href="./html/common/kv/">
          <div class="img-wrapper">
            <img src="images/kv/kv.jpg" alt="">
          </div>
          <div class="main__project-title">
            Разработка KV + активация
          </div>
        </a>
      </div>
    </div>
    <div class="main__lps">
      <div class="main__lp">
        <a href="./1">
          <div class="img-wrapper">
            <img src="images/lp/v1.jpg" alt="">
          </div>
          <div class="main__project-title">
            Промосайт v1
          </div>
        </a> 
      </div>
      <div class="main__lp">
        <a href="./2">
          <div class="img-wrapper">
            <img src="images/lp/v2.jpg" alt="">
          </div>
          <div class="main__project-title">
            Промосайт v2
          </div>
        </a>
      </div>
    </div>
    <div class="main__copyright">
      © Why Not!? Digital Agency, 2019
    </div>
  </div>
</div>

@@include('templates/common/include/footer.html')