@@include('templates/common/include/header2.html')

<div class="main main-kv">
  <div class="main__logo">
    <a href="./">
      <img src="images/logo.png" alt="WHYNOT">
    </a>
  </div>
  <div class="main__back-link">
    <a href="./">
      <span>← </span>НАЗАД
    </a>
  </div>
  <div class="main__container">
    <div class="main__title">
      Разработка KV + активация
    </div>
    <div class="main__banners-custom">
      <div class="main__banners-custom-col-1">
        <div class="main__banners-custom-box">
            <div class="main__banner-custom main__banner-700x380">
              <img src="images/kv/KV-1.png" alt="">
              <div class="main__banner-title">
                KV 01
              </div>
            </div>
        </div>
        <div class="main__banners-custom-box">
            <div class="main__banner-custom main__banner-700x380">
              <img src="images/kv/KV-2.png" alt="">
              <div class="main__banner-title">
                KV 02
              </div>
            </div>
        </div>
        <div class="main__banners-custom-box">
            <div class="main__banner-custom main__banner-700x380">
              <img src="images/kv/KV-3.png" alt="">
              <div class="main__banner-title">
                KV 03
              </div>
            </div>
        </div>
        <div class="main__banners-custom-box">
            <div class="main__banner-custom main__banner-540x763">
              <img src="images/kv/KV-4.png" alt="">
              <div class="main__banner-title">
                KV 04
              </div>
            </div>
        </div>
        <div class="main__banners-custom-box">
            <div class="main__banner-custom main__banner-1100x300">
              <img src="images/kv/KV-banner_raskadrovka_x2.png" alt="">
              <div class="main__banner-title">
                Раскадровка баннера
              </div>
            </div>
        </div>
      </div>

      <div class="hr"></div>
      <div class="main__title main__title-2">
        Примеры видео контента
      </div>

      <div class="main__banners-custom-col-2">
        <div class="main__banners-custom-box">
          <div data-modal-video data-src="https://www.youtube.com/embed/D19uVvCkFjo" class="video">
            <div class="main__banner-custom main__banner-540x300">
              <div class="play-btn">
                <img src="images/kv/PackShot1.png" alt="">
              </div>
              <div class="main__banner-title">
                Video 01
              </div>
            </div>
          </div>
        </div>
        <div class="main__banners-custom-box">
          <div data-modal-video data-src="https://www.youtube.com/embed/_wor4fSN8zg" class="video">
            <div class="main__banner-custom main__banner-540x300">
              <div class="play-btn">
                <img src="images/kv/PackShot3.png" alt="">
              </div>
              <div class="play-video"></div>
              <div class="main__banner-title">
                Video 02
              </div>
            </div>
          </div>
        </div>
        <div class="main__banners-custom-box">
            <div data-modal-video data-src="https://www.youtube.com/embed/7DlMmL0YVl8" class="video">
              <div class="main__banner-custom main__banner-540x300">
                <div class="play-btn">
                  <img src="images/kv/PackShot2.png" alt="">
                </div>
                <div class="main__banner-title">
                  Video 03
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <!-- <a href="#" class="main__btn-download">
      Скачать архивом
    </a> -->
    <div class="main__copyright">
      © Why Not!? Digital Agency, 2019
    </div>
  </div>
</div>

@@include('templates/common/include/footer.html')