<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Lot 3 | Делитесь ГБ легко и бесплатно</title>
        <meta name="description" content="Lot 3 | Делитесь ГБ легко и бесплатно"/>
        <base href="/2/">
        @@if (context.favicon === false) {
        <link rel="shortcut icon" href="favicon.ico">
        }
        @@if (context.favicon === true) {@@include('templates/favicon.html')}

        <style>@@include('@@webRoot/bundles/css/fonts.min.css')</style>

        <link href="bundles/css/common.min.css" rel="stylesheet">
    </head>
<body>

<!-- ############# -->
<!-- CONTENT START -->
<!-- ############# -->