@font-face {
    font-family: 'Tele2 DisplaySerif';
    src: url('fonts/all/Tele2DisplaySerif-Bold.woff2') format('woff2'),
        url('fonts/all/Tele2DisplaySerif-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Standard CT Stencil';
    src: url('fonts/all/StandardCTStencil-Bold.woff2') format('woff2'),
        url('fonts/all/StandardCTStencil-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Tele2 DisplaySerif';
    src: url('fonts/all/Tele2DisplaySerif-Regular.woff2') format('woff2'),
        url('fonts/all/Tele2DisplaySerif-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tele2 TextSans';
    src: url('fonts/all/Tele2TextSans-Regular.woff2') format('woff2'),
        url('fonts/all/Tele2TextSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}