.footer {
  background-color: #000;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  font-family: 'Gill Sans for Oriflame',Verdana,sans-serif,Arial;
  .olapic-partial-item {
    display: none;
  }
  a {
    color: #fff;
  }
  &__inner {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  &__col {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin-left: -2px;
    margin-right: -2px;
    text-align: left;
    &:nth-child(1) {
      width: 40%;
    }
    &:nth-child(2) {
      width: 60%;
    }
  }
  &__social {
    ul {
      margin-bottom: 0px;
      li {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        a {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='238' height='33'%3E%3Cg fill='%23999' fill-rule='evenodd'%3E%3Cpath d='M16 0c8.837 0 16 7.163 16 16s-7.163 16-16 16S0 24.837 0 16 7.163 0 16 0zm-2.37 16.011c.047.059.02.467.02.543l.003 8.613h3.734c.022-2.267 0-4.593 0-6.872 0-.032-.006-2.206.004-2.252.007-.029.008-.026.015-.038.005 0 2.376.02 2.458-.002l.042-.011.328-3.144H17.4c-.012-.464.002-.94.002-1.407 0-.425-.01-.95.243-1.183l2.575-.259-.004-3.154c-.488-.029-1.065-.003-1.563-.003-.517 0-1.04-.01-1.549.024-.97.064-1.751.353-2.318.835-.82 1.315-1.137.185-1.144 5.147l-1.876.001.003 3.158 1.862.004zm127.852 3.519a3.25 3.25 0 0 0 3.251-3.286 3.269 3.269 0 0 0-3.29-3.256 3.265 3.265 0 0 0-3.226 3.272 3.247 3.247 0 0 0 3.265 3.27z'/%3E%3Cpath d='M141.856 21.549c-1.48.101-2.805-.341-3.905-1.345-1.537-1.402-2.022-3.17-1.643-5.202h-1.373c-.013.102-.029.179-.029.255-.001 2.261-.005 4.52.002 6.78.001.572.23.781.837.783 3.82.005 7.638.005 11.458-.002.65 0 .829-.202.83-.876.002-2.164 0-4.328 0-6.492v-.457h-1.391c.706 3.766-1.963 6.362-4.786 6.556z'/%3E%3Cpath d='M141.471.12c-8.848 0-16.02 7.23-16.02 16.15 0 8.919 7.172 16.149 16.02 16.149 8.847 0 16.02-7.23 16.02-16.15 0-8.918-7.173-16.148-16.02-16.148zm8.59 22.584c0 1.294-.805 2.14-2.103 2.144-4.328.014-8.655.014-12.983-.003-1.278-.004-2.084-.823-2.089-2.109-.013-4.312-.012-8.623 0-12.936.003-1.317.846-2.115 2.175-2.117h12.84c1.325.002 2.158.818 2.16 2.132.005 4.296.005 8.591 0 12.889z'/%3E%3Cpath d='M145.475 12.94c.303.007.603.002.903 0 .318 0 .637.004.952 0 .44-.004.688-.232.698-.668a40.9 40.9 0 0 0 0-1.902c-.009-.41-.233-.65-.658-.655a86.008 86.008 0 0 0-1.903 0c-.416.002-.656.214-.662.638-.009.65-.011 1.3.001 1.951.01.423.257.628.669.637zM59 0c-8.837 0-16 7.163-16 16s7.163 16 16 16c8.836 0 16-7.163 16-16 0-8.836-7.164-16-16-16zm7.839 17.633c1.346 1.229 2.284 2.23 2.815 3.003.249.387.328.729.24 1.027-.089.299-.293.448-.611.448l-3.506.158c-.496.036-1.097-.263-1.806-.896-.708-.632-1.186-1.16-1.434-1.58-.141-.246-.398-.386-.77-.422-.371-.035-.61.14-.717.527l-.106 1.37c-.036.281-.142.492-.319.633-.177.14-.327.22-.451.237-.125.017-.328.044-.612.079-.92.035-1.726-.009-2.416-.132a4.796 4.796 0 0 1-1.886-.764 11.353 11.353 0 0 1-1.355-1.055 29.607 29.607 0 0 1-1.46-1.527c-1.735-2.46-3.027-4.585-3.877-6.376-.32-.702-.496-1.3-.532-1.791.142-.14.408-.228.798-.264.39-.035.955-.044 1.699-.026a83.92 83.92 0 0 0 1.327.026c.354-.035.638.159.85.58.885 1.966 1.753 3.495 2.602 4.583.567.527.939.44 1.116-.263.072 0 .107-.86.107-2.582.035-1.09-.408-1.774-1.328-2.055.213-.562.956-.843 2.231-.843.319 0 .708.017 1.169.052.46.036.708.053.743.053 1.063 0 1.594.422 1.594 1.265 0 .105-.017.36-.053.764s-.062.79-.08 1.16c-.018.368-.027.755-.027 1.159s.054.746.16 1.027c.106.281.248.457.425.527.194-.14.38-.273.558-.395.177-.123.363-.325.558-.607.195-.28.345-.492.451-.632.106-.14.266-.404.479-.79.212-.387.336-.633.371-.738.035-.106.16-.378.372-.817.212-.44.32-.659.32-.659l.078-.159c.142-.315.258-.5.346-.553.088-.052.31-.079.664-.079h3.293c.39 0 .62.01.69.027.071.017.178.096.32.237.248.316.026 1-.665 2.055-.69 1.054-1.354 1.932-1.991 2.635-.887.986-1.012 1.775-.374 2.373zm113.803 1.057c-.263.006-.527 0-.788.001-.28.002-.31.031-.31.31-.002 1.237-.002 2.474-.002 3.714 0 .123.005.248 0 .373-.004.18-.305.474-.493.454-.258-.028-.148-.25-.166-.393-.017-.143-.003-.29-.003-.436 0-1.252-.005-2.503.003-3.755 0-.2-.071-.274-.266-.268-.256.008-.512 0-.768.002-.286.001-.31.025-.31.304l.001 4.626c0 .09 0 .18.006.27.068.859.683 1.212 1.457.83.178-.088.337-.21.53-.331l.014.106c.013.275.028.292.304.292.27 0 .54-.003.81.002.165.003.235-.073.235-.237 0-1.874-.001-3.749.002-5.623 0-.18-.087-.245-.256-.242z'/%3E%3Cpath d='M177.808 17.82c-.002-.325-.005-.65.002-.975.002-.16-.07-.226-.222-.225h-3.548c-.164 0-.24.066-.237.236.005.297 0 .595.001.892 0 .25.029.278.272.278h.993v6.431c0 .316.016.332.323.332h.83c.31 0 .328-.017.328-.328v-6.433c.369 0 .706-.003 1.045.002.146 0 .216-.059.213-.209zm3.754-5.071c.331.037.543-.177.545-.57.007-.496.003-.994.003-1.491 0-.511.002-1.023-.002-1.534-.001-.266-.102-.417-.307-.483-.36-.116-.636.09-.638.492-.006 1.002-.003 2.004 0 3.006 0 .082.011.165.029.246.042.198.17.31.37.334zm3.386 6.692c-.252-.802-1.07-1.064-1.756-.577-.04.029-.086.049-.152.085 0-.711-.005-1.388.003-2.065.003-.199-.073-.274-.268-.267-.261.008-.524 0-.787.001-.27.002-.297.029-.298.296v3.733l.001 3.859c0 .253.028.282.287.283.27.001.539-.004.808.002.153.003.26-.037.262-.242.084.053.134.089.187.119.51.304 1.187.233 1.52-.166.238-.286.305-.63.307-.99.002-1.12.006-2.24-.005-3.36a2.534 2.534 0 0 0-.109-.71zm-1.264 3.874c-.001.28-.07.362-.26.361-.234-.001-.382-.147-.382-.382v-3.153c0-.192.104-.307.291-.328.188-.022.283.085.329.247a.679.679 0 0 1 .022.185c.001 1.022.003 2.046 0 3.07zm3.55-1.305c.526 0 1.053-.005 1.577.002.185.003.27-.06.266-.25-.012-.574.003-1.15-.035-1.723-.034-.516-.236-.979-.706-1.248-1.06-.604-2.644-.087-2.696 1.465a57.323 57.323 0 0 0 .004 3.029c.01.452.17.867.501 1.195.477.474 1.061.52 1.677.4.567-.109.967-.447 1.107-.996.105-.41.106-.846.141-1.27.012-.147-.104-.178-.227-.177-.305.002-.61.003-.914 0-.167-.003-.231.07-.23.239.002.234-.008.47-.033.703-.023.227-.227.34-.44.264-.166-.06-.198-.21-.202-.353-.01-.415-.004-.83-.004-1.28h.214zm-.236-1.18c.012-.258.012-.504.037-.748.018-.167.137-.241.306-.245.165-.003.296.061.318.23.034.248.039.5.055.764h-.716z'/%3E%3Cpath d='M181.485.12c-8.848 0-16.02 7.23-16.02 16.15 0 8.919 7.173 16.149 16.02 16.149s16.02-7.23 16.02-16.15c0-8.918-7.173-16.148-16.02-16.148zm2.664 7.672h1.055v4.234c0 .069-.014.143.005.206.039.131.067.327.158.367.108.048.294-.004.417-.069.25-.132.374-.33.368-.65-.023-1.273-.01-2.547-.01-3.82v-.254h1.06v5.79h-1.051v-.64l-.239.233c-.255.243-.543.43-.895.49-.402.067-.719-.127-.818-.523a2.129 2.129 0 0 1-.06-.534c-.005-1.543-.003-3.086-.003-4.629 0-.054.008-.108.013-.2zm-3.028-.072c.678-.168 1.295-.087 1.768.488.187.225.291.492.294.782.006 1.128.017 2.256-.005 3.384-.015.768-.603 1.325-1.37 1.369-.579.032-1.085-.098-1.447-.59a1.381 1.381 0 0 1-.277-.809c-.011-.568-.005-1.135-.005-1.703 0-.554-.013-1.107.001-1.66.02-.627.424-1.109 1.04-1.261zm-3.936-1.989c.038.002.085.111.102.177.236.924.467 1.848.7 2.772.017.065.038.129.057.192l.07.003c.044-.176.092-.352.134-.529.195-.812.392-1.624.58-2.439.031-.137.08-.196.232-.191.33.012.66.004 1.023.004-.025.106-.04.19-.064.272-.422 1.373-.848 2.745-1.265 4.118a1.51 1.51 0 0 0-.064.426c-.006.934-.003 1.868-.003 2.802v.257h-1.203c-.004-.076-.01-.156-.01-.236-.001-.885.001-1.771-.005-2.656 0-.156-.025-.317-.069-.467-.43-1.428-.867-2.854-1.301-4.28-.02-.066-.035-.133-.06-.233.395 0 .771-.004 1.146.008zm13.18 17.066c-.032.67-.04 1.35-.172 2-.225 1.091-1.24 1.859-2.356 1.904a164.758 164.758 0 0 1-12.803-.006c-1.19-.053-2.26-1.105-2.342-2.3-.113-1.645-.169-3.289-.111-4.936.028-.816.05-1.635.156-2.442.144-1.107 1.14-2.018 2.254-2.064 1.659-.07 3.319-.092 4.98-.128.504-.012 1.01-.002 1.514-.002v-.036c2.048.043 4.094.088 6.143.133 1.114.024 1.946.504 2.444 1.52.234.475.217.995.25 1.502.103 1.619.122 3.238.043 4.855zM222 0c8.837 0 16 7.163 16 16s-7.163 16-16 16-16-7.163-16-16 7.163-16 16-16zm9.019 16.09c.072-.064.016.023.07-.105l.13-.451c.694-.022 1.173-.075 1.734-.298l1.156-.792c-.383-.005-.785.098-1.407.002l-1.262-.264c.103-.067.265-.068.411-.09.151-.023.282-.044.431-.078.291-.068.505-.133.748-.246l.97-.947c-.443.174-.843.247-1.44.253-.29.003-1.343-.014-1.44-.273-.116-.307-.115-.597-.356-1.172a6 6 0 0 0-.558-1.033 5.67 5.67 0 0 0-1.627-1.604l-2.656-.744c.166-.16.792-.286 1.019-.346 1.184-.316 1.081-.749.795-.83-.366-.102-1.26.234-1.658.357l.715-.759c-.744.07-1.231.441-1.788.784l.231-.569c-.702.235-1.968 1.908-2.319 2.578l-1.486 3.26c-.127-.052-1.005-.953-1.677-1.354-.587-.35-1.37-.725-2.043-1.037-1.62-.75-2.78-1.207-4.438-1.814-.083 1.458.852 2.258 2.019 3.042l-1.422.187c.024.623.505 1.271.87 1.581.664.566 1.011.57 1.62.799l.125.065c-.981.17-.688.06-1.54.613.01.388.856 1.212 1.492 1.354l1.418.184c-.099.09-.252.154-.367.228a1.102 1.102 0 0 0-.309.273c-.196.237-.297.507-.17.835l1.642.748c-.088.173-.623.605-.803.73-.983.68-2.087 1.158-3.495 1.22a6.72 6.72 0 0 1-2.733-.452c-.883-.353-1.244-.649-1.917-1.168.198.34.645.809.918 1.098 2.574 2.73 6.74 4.237 11.093 3.46 2.659-.475 4.372-1.392 5.929-2.53.257-.188.868-.736 1.088-.963.676-.698 1.28-1.446 1.719-2.31.13-.26.588-1.159.568-1.422z'/%3E%3Cg transform='translate(84)'%3E%3Cpath d='M16.457.12C7.61.12.437 7.35.437 16.27c0 8.919 7.172 16.149 16.02 16.149 8.847 0 16.02-7.23 16.02-16.15 0-8.918-7.173-16.148-16.02-16.148zm.129 6.324a5.07 5.07 0 0 1 5.066 5.067 5.07 5.07 0 0 1-5.066 5.064 5.07 5.07 0 0 1-5.066-5.064 5.071 5.071 0 0 1 5.066-5.067zm4.88 17.096l.004.004a1.48 1.48 0 0 1-.003 2.095l-.002.001a1.482 1.482 0 0 1-2.095-.001l-2.784-2.783-2.783 2.782a1.484 1.484 0 1 1-2.1-2.1l2.833-2.832a9.489 9.489 0 0 1-2.941-1.218 1.484 1.484 0 0 1-.465-2.046c0-.001 0-.002.002-.003a1.483 1.483 0 0 1 2.045-.464 6.434 6.434 0 0 0 6.82 0l.002-.001a1.484 1.484 0 0 1 1.58 2.514c-.906.569-1.9.981-2.942 1.218l2.83 2.834z'/%3E%3Ccircle cx='16.586' cy='11.51' r='2.097'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-size: 238px 33px;
          height: 33px;
          width: 34px;
          display: block;
          &.fb { background-position: 0px 0; }
          &.vk { background-position: -43px 0; }
          &.ok { background-position: -84px 0; }
          &.in { background-position: -125px 0; }
          &.yt { background-position: -165px 0; }
          &.tw { background-position: -205px 0; }
        }
      }
    }
  }
  &__links {
    ul {
      margin: 0;
      li {
        line-height: 18px;
        a {
          color: #ffffff;
          font-size: 16px;
          font-weight: 300;
          line-height: 16px;
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  &__text {
    text-align: right;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
  }
  &__feedback {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 15px;
    font-weight: 300;
  }
}

@media(max-width: 1023px) {
.footer {
  background-color: #000;
  color: #fff;
  padding-top: 18px;
  padding-bottom: 15px;
  .olapic-partial-item {
    display: none;
  }
  a {
    color: #fff;
  }
  &__inner {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  &__col {
    display: block;
    text-align: center;
    margin: 0;
    width: 100% !important;
  }
  &__social {
    text-align: center;
    ul {
      margin-bottom: 19px;
      li {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        margin-left: 5px;
      }
    }
  }
  &__links {
    ul {
      margin: 0;
      li {
        line-height: 18px;
        a {
          color: #ffffff;
          font-size: 16px;
          font-weight: 300;
          line-height: 16px;
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  &__text {
    text-align: center;
    color: #979797;
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
  }
  &__feedback {
    color: #979797;
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
  }
}
}