@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}
@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-systrem, BlinkMacSystremFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  overflow:hidden;
  @include for-big-desktop-up {
    font-size: 23px;
  }
  @include for-phone-only {
    //font-size: 8px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@font-face {
  font-family: Standard CT Stencil;
  src: url("./fonts/StandardStencil-Bold.otf") format("opentype");
}
@font-face {
  font-family: Tele2 DisplaySerif;
  font-weight: 100;
  src: url("./fonts/Tele2DisplaySerif-Regular.otf") format("opentype");
}
@font-face {
  font-family: Tele2 TextSans;
  src: url("./fonts/Tele2TextSans-Regular.otf") format("opentype");
}
.section {
  position: relative;
  height: 100vh;
  display:block;
  overflow:hidden;
}
@keyframes playStartAnimText {
  100% {
    transform:translate3d(0,0,0);
  }
}
@keyframes sss {
  50%{
    transform:scale(1.1);
  }
  100%{
    transform:scale(1);
  }
}
@keyframes playEndAnimText {
  100% {
    transform:translate3d(100%,0,0);
  }
}
.header {
  position: fixed;
  left: 0;
  top:0;
  z-index:10;
  transform:translate3d(0,-100px,0);
  animation:playStartAnimText 1s cubic-bezier(0, 0, 0, 1) both;
  animation-delay: 1s;
  &.isBlackScreen{
    svg > path {
      fill:#fff;
    }
  }
}
.wrapInfoBlock {

  position: absolute;
  left: 10%;
  top: 20%;
  font-size:16px;
  @include for-big-desktop-up {
    font-size: 23px;
  }
  width:28.125em;
  height:21.250em;
  z-index:3;
  //padding-top: 3%;
}
.mainImgWrap {
  position: absolute;
  right: 0;
  top:0;
  bottom:0;
  height: 100%;
  transform: translate3d(-100vw, 0, 0);
}

.mainImg{
  animation:sss 15s ease-in-out infinite;
  position: relative;
  height: 100%;
}

.infoBlock {
  //transform:translate3d(-100%,0,0);
  //transform: matrix(0, 0, 0, 0, -1000, 0);
  //padding: 2rem 3rem 2rem 2rem;
  position:relative;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  font-size:16px;
  @include for-big-desktop-up {
    font-size: 23px;
  }
  &__header {
    font-family: Standard CT Stencil;
    font-size: 2.813em;
    line-height: normal;
    opacity:0;
    color: #000;
    margin: 0;
    text-transform: uppercase;
    padding: 0rem 1.813rem;
    padding-top: 1.438rem;
    //transform:translate3d(-120%,0,0);
    //transform:translate3d(0,0,0);
    //animation:playEndAnimText 10s ease-in-out both;
    //transform: matrix(0, 0, 0, 0, -1000, 0);
  }
  &__text {
    font-family: Tele2 DisplaySerif;
    line-height: normal;
    color: #000;
    opacity:0;
    padding: 0rem 1.813rem;
    //margin: 2em 0;
    //transform:translate3d(-120%,0,0);
    //transform: matrix(0, 0, 0, 0, -1000, 0);
  }
  &__button {
    background: #C3E400;
    border-radius: 1.875em;
    margin: 0;
    opacity:0;
    font-family: Tele2 TextSans;
    font-size: 1.125em;
    width: 14.188em;
    min-height: 3.125em;
    max-height: 3.125em;
    line-height: normal;
    border:none;
    cursor: pointer;
    margin: 1.538rem 1.813rem;
    text-align: left;
    padding-left: 2.125rem;
    position: relative;
    &:after{
      content:'';
      background: 0 0 no-repeat;
      background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAYAAAA7bUf6AAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABRSURBVHgB7dOxCQAgDATAH8ERfnPdJKM4iqawEBFFo10ennRHmgfWoVbavQq1WVvaJQ7DDigWKA2IQx+hPIHkBIjWTxwAAh5thzCuuIcEG6ACBWJPgu9bRdEAAAAASUVORK5CYII=');
      display: block;
      width: 0.6em;
      background-size: contain;
      height: 0.6em;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 1.500em;
      margin: auto;
    }
    &:focus{
      outline:none;
    }
  }
}
.hasBg.wrapInfoBlock{
  background-color: #000;
}
.hasBg {
  & .infoBlock{
    &__header {
      color: #FFFFFF;
    }
    &__text {
      color: #FFFFFF;
    }
  }
}

.infoBlock__button.btnDark {
    background-color: #000;
    color: #FFFFFF;
}
.canvas {
  height: 100vh;
  width: 100vw;
  display: block;
  //animation:sss 15s ease-in-out infinite;
}
.couple {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  //z-index:1;
}
.custom-slick {
  & .slick-dots{
    position: absolute;
    left: 0;
    bottom: 0;
    width: auto;
    padding: 1.1rem 2rem;
    transform:translate3d(0,100px,0);
    animation:playStartAnimText 1s cubic-bezier(0, 0, 0, 1) both;
    animation-delay: 1s;
  }
  & .slick-arrow {
    position: absolute;
    top:0;
    bottom:0;
  }
  & .slick-prev {
    left: 0;
  }
  & .slick-next {
    right: 0;
  }
  & .slick-dots  li.slick-active button:before{
    content:'';
    border:0.125rem solid;
  }
  & .slick-dots li button:before{
      content:'■';
      opacity:1;
      font-size: 1rem;
      line-height: 1rem;
  }
}
.slick-dots#dotsBlack li button:before{
  color:#fff;
}
.footer {
  position: absolute;
  bottom:0;
  right: 0;
  transform:translate3d(0,100px,0);
  animation:playStartAnimText 1s cubic-bezier(0, 0, 0, 1) both;
  animation-delay: 1s;
  &__soc{
    display:flex;
    justify-content: space-around;
    padding: 1rem 2rem;
    &-link{
      display: block;
    }
  }
}
.blackSection {

  height: 100vh;
  font-size:16px;
  @include for-big-desktop-up {
    font-size: 23px;
  }
  &__block{
    position: absolute;
    left: 10%;
    top:10%;
    width: 130vmin;
  }
  &__h2{
    font-family: Standard CT Stencil;
    font-size: 4.375em;
    line-height: normal;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
  }
  &__text{
    font-family: Tele2 TextSans;
    font-size: 1em;
    line-height: normal;
    text-align: center;
    color: #FFFFFF;
    &_f {
      flex:1;
      text-align:right;
    }
    &_upper{
      font-family: Tele2 TextSans;
      font-size: 1.250rem;
      line-height: normal;
      text-transform: uppercase;
      color: #FFFFFF;
      
    }
    &-mark{
      font-family: Standard CT Stencil;
      font-size: 2.500em;
      line-height: normal;
      text-align: center;
      text-transform: uppercase;
      color: #C3E400;
    }
  }
  &__row{
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;
    margin-top:3rem;
  }
  &__button{
    background: #C3E400;
    border-radius: 1.875rem;
    border:0;
    font-family: Tele2 TextSans;
    font-size: 1.125em;
    line-height: normal;
    text-align: center;
    color: #000000;
    display: block;
    width:18.750em;
    height: 3.125em;
    cursor: pointer;
    &:focus{
      outline:none;
    }
  }
}
#blackSection__slideLeft {
  position: relative;
  width: 100%;
  height: 100%;
  background: #000;
}
.blackSection__block_m {
  width: 70%;
  height: 100%;
  & .blackSection__button {
    width: 100%;
  }
  & .blackSection__block-row {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;   
      margin-top: 2rem; 
    & .blackSection__row {
      margin: 0;
      align-items: flex-end;
      justify-content: flex-end;
      flex: 1;
      flex-wrap: wrap;
    }
    &_t {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      flex: 2;
      & .blackSection__text {
        text-align: left;
        width: 55%;
      }
    }
  }
}
.iconSec {
  position: absolute;
  top: -3rem;
  left: 1.5rem;
  // transform: translate3d(0,100%,0);
  // animation:playStartAnimText .4s cubic-bezier(0, 0, 0, 1) both;
  // animation-delay: .3s;
}
@keyframes render {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.subject-image {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: auto;
}
.svgWave {
  position: absolute;
  top: 0;
  right: 0%;
  height: 100%;
  width: auto;
  mix-blend-mode: multiply;
  z-index: 10; 
  & path {
    transition: fill 1.5s .25s;
  }
}
#sec0{
 & path {
   fill:'#C3E400'
 }
}
#sec1{
 & path {
   fill:'#FF59A3'
 }
}
#sec2{
 & path {
   fill:'#1EE7CA'
 }
}
#sec3{
 & path {
   fill:'#FF6633'
 }
}