.landing {
  /* overflow: hidden; */
  &__inner {
    /* overflow: hidden; */
  }
  &__section {
    min-height: 100vh;
  }
}

.landing-nav {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  pointer-events: none;
  &__item {
    width: 100px;
    /* background-color: #fff555;
    border: 1px solid; */
    &-1 {
      height: 100vh;
    }
    &-2 {
      height: calc(1500px + 22.188vw + 50vh);
    }
    &-3 {
      height: calc(1300px + 100vh - 50vh);
    }
    &-4 {
      height: calc(100vh + 50vh);
    }
    &-5 {
      height: calc(100vh + 400px);
    }
    &-6 {
      height: 90vh;
    }
  }
  &__part {
    /* background-color: red;
    height: 2px; */
    height: 1px;
    position: relative;
    z-index: 1000;
    &-1 {
      /* height: 100vh; */
    }
    &-2 {
      top: calc(1000px);
      /* top: calc(1500px + 22.188vw); */
    }
    &-3 {
      top: 30px;
    }
    &-4 {
      /* top: 10px; */
    }
    &-5 {
      /* top: 10px; */
    }
    &-6 {
      /* top: 10px; */
    }
  }
}